.card-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;

    i {
        color: black;
        right: 100px;
        top: 20px;
        font-size: 30px;
        position: absolute;
        cursor: pointer;
    }
}

.hr {
    border: 1px solid silver;
    height: 500px;
    margin-right: -50px;
}
.spinner {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 400px;
}