.container {
    /* border: 1px solid red; */
}
.card {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: scroll;
}
.card::-webkit-scrollbar {
    width: 0;
}