.container {

}
.card {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    height: 100vh;
    overflow-x: scroll;
    border-bottom: 1px solid black;
    padding-left: 5px;
}
.card::-webkit-scrollbar {
    width: 0;
}